@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 100;
    src: url('./circular/circular-100.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    src: local('Circular Std'), url('./circular/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 450;
    src: local('Circular Std'), url('./circular/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    src: local('Circular Std'), url('./circular/CircularStd-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 500;
    src: local('Circular Std'), url('./circular/CircularStd-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    src: local('Circular Std'), url('./circular/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 700;
    src: local('Circular Std'), url('./circular/CircularStd-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 900;
    src: local('Circular Std'), url('./circular/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 900;
    src: local('Circular Std'), url('./circular/CircularStd-BlackItalic.woff') format('woff');
}