.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #F7F7F7;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Principal =-=-=-=-=-=-=-=-=-=-=-=- */
.principal {
    display: flex;
    justify-content: center;
    width: 65vw;
    margin-top: 2.5vw;
    margin-bottom: 2vw;
}

.sessao {
    width: 100vw;
}

.sessao .tituloSessao {
    font-weight: 600;
}

.sessao a {
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
    margin-top: 18px;
}

.footer a:hover {
    text-decoration: underline !important;
    color: rgb(72, 72, 72) !important;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Secundária =-=-=-=-=-=-=-=-=-=-=-=- */
.secundaria {
    border-top: 1px solid #DDDDDD;
    width: 65vw;
    font-weight: 100;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.secundaria span:nth-child(n+2) {
    margin-left: 10px;
}

.secundaria .direita {
    display: flex;
}

.secundaria .direita .config {
    /* background-color: royalblue; */
    display: flex;
    justify-content: space-between;
}

.secundaria .direita .config span:nth-child(3) {
    margin-left: 20px;
}

.secundaria .direita .icones {
    /* background-color: rebeccapurple; */
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
}

.secundaria .direita .icones span:nth-child(n+2) {
    margin-left: 20px;
}