.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #F7F7F7;
    /* Fixar footer sempre embaixo */
    margin-top: auto;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Principal =-=-=-=-=-=-=-=-=-=-=-=- */
.principal {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin-top: 2.5vw;
    margin-bottom: 2vw;
}

.sessao {
    width: 100vw;
}

.sessao .tituloSessao {
    font-weight: 600;
}

.sessao a {
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
    margin-top: 18px;
}

.footer a:hover {
    text-decoration: underline !important;
    color: rgb(72, 72, 72) !important;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Secundária =-=-=-=-=-=-=-=-=-=-=-=- */
.secundaria {
    border-top: 1px solid #DDDDDD;
    width: 70vw;
    font-weight: 100;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.secundaria span:nth-child(n+2) {
    margin-left: 10px;
}

.secundaria .direita {
    display: flex;
}

.secundaria .direita .config {
    /* background-color: royalblue; */
    display: flex;
    justify-content: space-between;
}

.secundaria .direita .config span:nth-child(3) {
    margin-left: 20px;
}

.secundaria .direita .icones {
    /* background-color: rebeccapurple; */
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
}

.secundaria .direita .icones span:nth-child(n+2) {
    margin-left: 20px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    /* =-=-=-=-=-=-=-=-=-=-=-=- Principal =-=-=-=-=-=-=-=-=-=-=-=- */
    .principal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        /* margin-top: 4vw; */
        margin-bottom: 2vw;
    }

    .sessao {
        /* background-color: pink; */
        width: 90vw;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .sessao .tituloSessao {
        /* Quebrar linha do título: https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
        flex-basis: 100%;
        height: 0;
        margin-bottom: 15px;
    }

    .principal .sessao:nth-child(n+2) {
        margin-top: 20px;
        border-top: 1px solid #DDDDDD;
        padding-top: 20px;
    }

    .sessao a {
        margin-top: 0px;
        flex: 1 0 31%;
    }

    /* =-=-=-=-=-=-=-=-=-=-=-=- Secundária =-=-=-=-=-=-=-=-=-=-=-=- */
    .secundaria {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;  
        padding-top: 21px;
        margin-top: 3vw;
    }

    .secundaria div:first-child span:first-child {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        /* background-color: pink; */
    }

    .secundaria div:first-child span:nth-child(2) {
        display: none;
        /* background-color: pink; */
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .direita {
        display: none !important;
    }
}
