:root {
  --overflow-y: auto;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: var(--overflow-y);
  scroll-behavior: smooth;

  /* Fonte padrão */
  font-family: 'Circular Std';
}

.main {
  /* Definir tamanho mínimo para a tela para fixar o footer corretamente */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.esconder {
  display: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 56, 92, 1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(189, 30, 89, 1);
}

::selection {
  background: rgba(255, 56, 92, 1);
}

.underline {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 3px;
  text-decoration-thickness: 0.5px;
}