/* =-=-=-=-=-=-=-=-=-=-=-=- Sessão um =-=-=-=-=-=-=-=-=-=-=-=- */
.sessaoUm {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sessaoUm .divEsquerda {
    background-color: #000;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessaoUm .divBotao {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.sessaoUm .botaoNavegarBaixo {
    position: absolute;
    bottom: 4vw;
    cursor: pointer;
}

.sessaoUm .botaoNavegarBaixo::before {
    width: 30px !important;
    height: 30px !important;
}

.sessaoUm .tituloPrincipal {
    text-align: center;
    color: #fff;
    font-size: 65px;
    font-weight: 500;
}

.sessaoUm .tituloPrincipal span {
    display: block;
    margin-top: -0.2em;
}

.sessaoUm .divDireita {
    background-color: #000;
    width: 50vw;
}

.sessaoUm .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.sessaoUm .nomesAnfitrioes {
    color: #fff;
    position: absolute;
    bottom: 2.5vw;
    left: 53vw;
}

.sessaoUm .botaoReproduzirVideo {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    outline: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    touch-action: manipulation;
    width: 32px;
    height: 32px;
    margin-bottom: 30px;
}

.sessaoUm .botaoReproduzirVideo svg {
    fill: whitesmoke;
    width: 70%;
}

.sessaoUm .spanAnfitriaoTitulo {
    font-size: 80px;
    display: block;
    line-height: 80px;
}

.sessaoUm .spanAnfitriaoDescricao {
    font-size: 20px;
}

.sessaoUm .spanAnfitriaoChelsea {
    font-family: 'LTEgo';
}

.sessaoUm .spanAnfitriaoSomaya {
    font-family: 'hybi4';
}

.sessaoUm .spanAnfitriaoMohamed {
    font-family: 'crusellia';
}

.sessaoUm .spanAnfitriaoMaria {
    font-family: 'saturdaypartygt';
}