/* =-=-=-=-=-=-=-=-=-=-=-=- Sessão cinco =-=-=-=-=-=-=-=-=-=-=-=- */
.sessaoCinco {
    margin-top: 3vw;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.divEsquerda {
    background-color: #000;
    width: 50vw;
}

.divBotao {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.tituloPrincipal {
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: 500;
}

.tituloPrincipal span {
    display: block;
    margin-top: -0.2em;
}

.tituloPequeno {
    margin-top: 1.8vw !important;
    font-size: 20px !important;
    font-weight: 400 !important;
}

.divDireita {
    background-color: #000;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.divPlay {
    color: #fff;
    position: relative;
    bottom: 60px;
    left: 2vw;
}

.botaoReproduzirVideo {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    outline: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    touch-action: manipulation;
    width: 32px;
    height: 32px;
    margin-bottom: 30px;
}

.botaoReproduzirVideo svg {
    fill: whitesmoke;
    width: 70%;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .sessaoCinco {
        display: flex;
        flex-direction: column;
    }

    .divEsquerda {
        width: 100vw;
        height: 70vh;
        bottom: -12px;
        position: relative;
    }

    .divDireita {
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: left;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 50px;
        z-index: 1;
    }

    .video {
        object-fit: contain;
    }

    .tituloPrincipal {
        font-size: 35px;
        text-align: left;
    }

    .divBotao {
        margin-top: 4vw;
        justify-content: left;
    }
}


/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .divEsquerda {
        height: 65vh;
    }

    .divDireita {
        height: 35vh;
        padding-left: 20px;
        padding-right: 20px;
    }

    .video {
        object-fit: cover;
        object-position: center;
    }

    .tituloPrincipal {
        font-size: 30px;
        text-align: left;
    }

    .divBotao {
        margin-top: 4vw;
        justify-content: left;
    }

    .divPlay {
        bottom: 75px;
        left: 3vw;
    }
}