/* =-=-=-=-=-=-=-=-=-=-=-=- Sessão um =-=-=-=-=-=-=-=-=-=-=-=- */
.sessaoUm {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.divEsquerda {
    background-color: #000;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBotao {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.botaoNavegarBaixo {
    position: absolute;
    bottom: 4vw;
    cursor: pointer;
}

.botaoNavegarBaixo::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.botaoNavegarBaixo:hover::before {
    background: #F7F7F7;
    opacity: 0.2;
}

.tituloPrincipal {
    text-align: center;
    color: #fff;
    font-size: 65px;
    font-weight: 500;
}

.tituloPrincipal span {
    display: block;
    margin-top: -0.2em;
}

.divDireita {
    background-color: #000;
    width: 50vw;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.nomesAnfitrioes {
    color: #fff;
    position: absolute;
    bottom: 5%;
    left: 53%;
}

.botaoReproduzirVideo {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    outline: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    touch-action: manipulation;
    width: 32px;
    height: 32px;
    margin-bottom: 30px;
}

.botaoReproduzirVideo svg {
    fill: whitesmoke;
    width: 70%;
}

.spanAnfitriaoTitulo {
    font-size: 80px;
    display: block;
    line-height: 80px;
}

.spanAnfitriaoDescricao {
    font-size: 20px;
}

.spanAnfitriaoChelsea {
    font-family: 'LTEgo';
}

.spanAnfitriaoSomaya {
    font-family: 'hybi4';
}

.spanAnfitriaoMohamed {
    font-family: 'crusellia';
}

.spanAnfitriaoMaria {
    font-family: 'saturdaypartygt';
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .sessaoUm {
        display: flex;
        flex-direction: column-reverse;
    }

    .divDireita {
        width: 100vw;
        height: 70vh;
    }

    .nomesAnfitrioes {
        color: #fff;
        position: absolute;
        bottom: 35%;
        left: 5%;
    }

    .divEsquerda {
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: left;
        padding-left: 50px;
        background-color: #fff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .tituloPrincipal {
        font-size: 65px;
        text-align: left;
        color: #000;
    }

    .divBotao {
        display: none;
    }

    .botaoNavegarBaixo {
        position: absolute;
        bottom: 10vw;
        left: 50%;
    }

    .botaoNavegarBaixo svg {
        stroke: #000 !important;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .nomesAnfitrioes {
        bottom: 33%;
        left: 7%;
    }

    .spanAnfitriaoTitulo {
        font-size: 60px;
        line-height: 60px;
    }

    .spanAnfitriaoDescricao {
        font-size: 15px;
    }

    .tituloPrincipal {
        font-size: 40px;
    }
}

