/* =-=-=-=-=-=-=-=-=-=-=-=- Sessão três =-=-=-=-=-=-=-=-=-=-=-=- */
.sessaoTres {
    /* background-color: purple; */
    width: 100vw;
    /* height: 100vh; */
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.sessaoTres div {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Escrita */
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
}

.titulo {
    color: rgb(113, 113, 113);
}

.tituloInfo {
    margin-top: 2vw;
}

.info {
    font-weight: 100;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 1px;
}

/* Select */
.select::-ms-expand {
    /* Esconder arrow no IE */
    display: none;
} 

.select {
    /* background-color: pink; */
    width: 500px;
    color: #000;
    border: none;
    cursor: pointer;
    text-align: center;

    /* Escrita */
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;

    /* Ícone da arrow - https://medium.com/@keithchasen/how-to-implement-chrome-style-for-select-tag-in-all-browsers-9397afebe729 */
    background: url('/static/images/outros/arrow.svg') no-repeat 100% 50%;

    /* Esconder arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.select:focus {
    outline: none;
}

.select option {
    font-size: 20px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .sessaoTres {
        height: 60vh;
    }

    .sessaoTres div {
        /* Escrita */
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
    }

    .select {
        width: 300px;

        /* Escrita */
        font-weight: 400;
        font-size: 25px;
    }
}