/* =-=-=-=-=-=-=-=-=-=-=-=- Sessão dois =-=-=-=-=-=-=-=-=-=-=-=- */
.sessaoDois {
    /* background-color: plum; */
    width: 100vw;
    height: 140vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloPrincipal {
    text-align: center;
    color: #000;
    font-size: 65px;
    font-weight: 500;
}

.tituloPrincipal span {
    display: block;
    margin-top: -0.2em;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Carousel =-=-=-=-=-=-=-=-=-=-=-=- */
.carousel {
    /* background-color: pink; */
    margin-top: 4vw;
    width: 85vw;
}

.imgAnfitriao {
    border-radius: 4px;
    cursor: pointer;
}

.divDescricao {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 1vw;
    gap: 1.5vw;
}

.descricao {
    /* background-color: blue; */
    width: 90%;
    font-size: 22px;
    line-height: 30px;
    font-weight: 100;
    text-align: left;
}

.info {
    color: #717171;
    font-size: 16px;
    line-height: 20px;
    font-weight: 100;
    text-align: left;
}