/* =-=-=-=-=-=-=-=-=-=-=-=- Sessão dois =-=-=-=-=-=-=-=-=-=-=-=- */
.sessaoDois {
    /* background-color: plum; */
    width: 100vw;
    height: 120vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 8vw;
}

.tituloPrincipal {
    text-align: center;
    color: #000;
    font-size: 65px;
    font-weight: 500;
}

.tituloPrincipal span {
    display: block;
    margin-top: -0.2em;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Carousel =-=-=-=-=-=-=-=-=-=-=-=- */
.carousel {
    /* background-color: pink; */
    margin-top: 4vw;
    width: 85vw;
}

.imgAnfitriao {
    border-radius: 4px;
    cursor: pointer;

    /* Sem highlight */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.divDescricao {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 1vw;
    /* gap: 0.3vw; */
}

.descricao {
    /* background-color: blue; */
    width: 90%;
    font-size: 22px;
    line-height: 30px;
    font-weight: 100;
    text-align: left;
}

.assinaturaAnfitriao{
    text-align: left;
}

.info {
    color: #717171;
    font-size: 16px;
    line-height: 20px;
    font-weight: 100;
    text-align: left;
}