.divPrincipal {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 22px;
    line-height: 30px;
    color: rgb(34, 34, 34);
    font-weight: 500;
}

.infoPequena {
    margin-top: 8px;
    color: rgb(34, 34, 34);
    font-size: 12px;
    line-height: 16px;
    font-weight: 100;
    margin-top: 16px;
}


.divBotao {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.divBotao input{
    width: 100vw;
}

.divisorWrapper {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 100;
    font-size: 12px;
    line-height: 16px;
}

.divisor {
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    margin: 16px 0px;
}

.divisor::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(221, 221, 221);
    margin-right: 16px;
}

.divisor::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(221, 221, 221);
    margin-left: 16px;
}